.AuditionText{
    padding-top: 50px;
    padding-left: 20px;
    text-align: Center;
    font-size: xx-large;
    color: White;
    font-family: 'Black Ops One', cursive;
    background: linear-gradient(to Bottom, rgb(204, 114, 248), transparent);
}

.AuditionsImage{
    size: cover;
    height: 50%;
    width: 30%;
    filter: drop-shadow(10px 10px 10px black);
    border: 2px solid white;
    margin-top: 5%;
}
.BackgroundImage2{
    background: url('../assets/GroupPic.png');
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-position: center;
    z-index: -2;
    filter: brightness(0.5);
    color:black;
}
@media (max-width: 600px) {
    .AuditionText{
        padding-top: 50px;
    padding-left: 20px;
    text-align: Center;
    font-size: large;
    color: White;
    font-family: 'Black Ops One', cursive;
    background: linear-gradient(to Bottom, rgb(204, 114, 248), transparent);
    }

    .AuditionsImage{
        size: cover;
        height: 70%;
        width: 60%;
        filter: drop-shadow(10px 10px 10px black);
        border: 2px solid white;
        margin-top: 5%;
    }
}